.button {
  border: none;
  padding: 0.5rem 1.2rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 6px;
  background: #03045e;
  color: white;
}

.button:hover {
  background: #0077b6;
  cursor: pointer;
}

.actionBar {
  margin: 10px auto;
  display: flex;
  gap: 10px;
}
