.container {
  padding: 10px 25px;
  background: #eee;
  border-radius: 6px;
}

.inputControl {
  display: flex;
  gap: 20px;
}

.label {
  width: max-content;
  flex: 2 0 1;
  align-self: center;
}

.input {
  flex: 1 1 0;
}
