.container {
  padding: 10px 20px;
  background: #f6f6f6;
  border-radius: 6px;
  margin: 10px auto;
}

.inputControl {
  display: flex;
  gap: 20px;
}

.label {
  width: max-content;
  flex: 2 0 1;
  align-self: center;
}

.input {
  /* flex: 1 1 0; */
  width: 40%;
  align-self: center;
}

.error {
  color: red;
  font-weight: 500;
  font-size: 0.9rem;
}
